:root{
  --AccentColor:rgb(150, 25, 222);
  --regularTextColor:rgb(230, 216, 255);  
}

#portrait{
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 10px;
    width: 200px;
    float: left;
}



body{
  background-color: #1E1E1E;  
  
  /* background: linear-gradient(to bottom, #290928,#000000) */
}

.text{
    color: var(--AccentColor); 
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

p{
  color:var(--regularTextColor) 
}

#welcome{    
  padding-top: 100px;
  text-align: center;  
  font-size: 70px;
  
}
#logo{
    float: right;
    /* padding-top: 10px; */
    padding-right: 30px;
    /* padding-bottom: 10px; */
    width: 55px;
}
.section{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    scroll-margin-top: 100px;
}

.topnav a{
    float:left;
    color: var(--regularTextColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }

.topnav {
    position: fixed;    
    top:0;
    left: 0;
    right: 0;    
    background-color: #000000;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: var(--regularTextColor);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: var(--AccentColor);
    color: var(--regularTextColor);
  }
