:root {
  --AccentColor: rgb(150, 25, 222);
  --regularTextColor: rgb(230, 216, 255);
  --cardColor: rgb(47, 47, 47);
  --hoverColor: white;
}

#portrait {
  border: 2px solid var(--AccentColor);  
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;  
  border-radius: 40px;
  
}



body {
  background-color: #1E1E1E;
  /* display: flex; */
  /* background: linear-gradient(to bottom, #290928,#000000) */
}

.text {
  color: var(--AccentColor);
  font-size: 50px;
  /* font-family: 'Times New Roman', Times, serif; */
  text-align: justify;
  /* text-align-last: left; */
  hyphens: auto;
  text-shadow: 1px 1px 0px rgb(0, 0, 0);
  word-wrap: break-word;
}

p {
  color: var(--regularTextColor);
}


.card {
  background: var(--cardColor);
  border-radius: 20px;
}


.card-container{
  margin: 20px;
 
}
.card-content {
  width: 100%;  
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}


.card-content .text{
  height: 100%;
}
.card-content .project-image, .card-content .text{
  flex:1;
  min-width: 0;
  margin: 10px;
  font-size: 32px;
  /* border: 20px solid #000; */
}

.card .button button {
  background: var(--AccentColor);
  outline: none;
  border: none;
  color: var(--regularTextColor);
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  /* align-self:flex-end; */

}

@media only screen and (max-width: 1000px) {
  .card-content {
    height: 100%;  
    display: flex;
    align-items:center;
    flex-direction: column;
  }
  .card-content .text{
    width: 100%;
  }
  .card-content .text{
    flex:2;
    min-height: 0;
    height: 50%;
    text-align: left;
    font-size: 50%;
    /* border: 20px solid #000; */
  }
  .card-content .project-image{
    width: 90%;
  }
}

.button button:hover {
  background: var(--hoverColor);
  color:black;
}

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  margin-top: 1000px;
  height: 7px;
  width: 30px;
  background: var(--AccentColor);
}

.swiper-button-next,
.swiper-button-prev {
  /* float: left; */
  color: var(--AccentColor);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--hoverColor);
}

#welcome {
  padding-top: 100px;
  text-align: center;
  font-size: 80px;
  font-weight:lighter;

}



section {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  scroll-margin-top: 60px;
}
section::after{
  content: "";
  display: table;
  clear: both;
}

.swiper{
  width: 90%;
}
section .content {
  position: relative;
  align-items:center;
}


.topnav a {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 100%;
  text-align: center;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #000000;
  display: flex;
  flex-direction:row;
  height:  50px;
}
#logo {
  margin-right: 2px;
  margin-left: auto;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--regularTextColor);
}
.topnav a:hover p{
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--AccentColor);
}



