p{
    color:rgba(69, 1, 255, 0.557);
}





#ado{
    width: 25%;
}

/* Media query that shrinks width of smiley face to 300px when viewport is equal to or smaller than 400px */
/* @media only screen and (max-width: 500px) {
    #ado {
      width: 300px;
    }
  } */

body{
    background-color: rgb(251, 0, 0);
}
h1{
    font-size: 100%;
    color: rgb(156, 14, 156);
}
.text{
    color: rgb(0, 0, 0);
    font-size: 75%;
}